<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="dev" class="com.telusko.Dev" autowire="byType">
<!--        <property name="laptop" ref="lap1" />-->

<!--        <property name="age" value="12"/>-->
<!--        <constructor-arg vale="14"/>-->

<!--        <property name="comp" ref="desk1"/>-->
    </bean>



    <bean id="comp" class="com.telusko.Laptop" primary="true">
    </bean>

    <bean id="desk1" class="com.telusko.Desktop">

    </bean>

</beans>